/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 40px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-style: normal;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: #400101;
  color: white;
  z-index: 2;
  width: 100vw;
  height: 10vw;
}
@media screen and (min-width: 800px) {
  nav {
    height: 8vw;
  }
}
@media screen and (min-width: 1240px) {
  nav {
    height: 3vw;
  }
}

.logo {
  flex-basis: 50%;
}
.logo a {
  font-size: 4vw;
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 1240px) {
  .logo a {
    font-size: 1vw;
  }
}

.menu {
  padding-right: 2vw;
  flex-basis: 50%;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu span {
  cursor: pointer;
  font-size: 6vw;
}
@media screen and (min-width: 1240px) {
  .menu span {
    font-size: 2vw;
  }
}

.navbox {
  position: absolute;
  top: 10vw;
  left: 100vw;
  width: 35vw;
  height: 90vw;
  padding-top: 1vw;
  background-color: #400101;
  border-radius: 0px 0px 0px 16px;
  text-align: center;
  z-index: 5;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0;
}
@media screen and (min-width: 800px) {
  .navbox {
    top: 8vw;
    left: 100vw;
    width: 20vw;
    height: 50vw;
  }
}
@media screen and (min-width: 1240px) {
  .navbox {
    top: 3vw;
    left: 100vw;
    width: 15vw;
    height: 30vw;
  }
}
.navbox a {
  font-size: 3vw;
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  .navbox a {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1240px) {
  .navbox a {
    font-size: 1vw;
  }
}

.navbox.active {
  opacity: 1;
  left: 65vw;
}
@media screen and (min-width: 800px) {
  .navbox.active {
    left: 80vw;
  }
}
@media screen and (min-width: 1240px) {
  .navbox.active {
    left: 85vw;
  }
}

#Arrow-Upward {
  font-size: 7vw;
}
@media screen and (min-width: 800px) {
  #Arrow-Upward {
    font-size: 3vw;
  }
}

header {
  height: 100vh;
  background: url("../assets/img/bg_header.webp") center/cover fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
header h1 {
  z-index: 1;
  font-size: 8vw;
  text-align: center;
}
@media screen and (min-width: 800px) {
  header h1 {
    one-size: 6vw;
  }
}
@media screen and (min-width: 1240px) {
  header h1 {
    font-size: 5vw;
  }
}
header::after {
  content: "";
  color: inherit;
  background: rgba(1, 13, 0, 0.3882352941);
  position: absolute;
  width: 100vw;
  height: 100vh;
}
header a {
  margin-top: 10vw;
  z-index: 1;
  width: 40vw;
  height: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  color: inherit;
  text-align: center;
  text-decoration: none;
  border: 3px #48BC03 solid;
  border-radius: 16px;
  transition: 0.5s;
}
@media screen and (min-width: 800px) {
  header a {
    font-size: 2vw;
    width: 20vw;
    height: 5vw;
  }
}
@media screen and (min-width: 1240px) {
  header a {
    font-size: 1vw;
    width: 15vw;
    height: 3vw;
  }
}
header a:hover {
  transition: 0.5s;
  background-color: #48BC03;
}

section {
  min-height: 100vh;
}
section h2 {
  padding: 3vw 0;
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
  font-size: 10vw;
}
@media screen and (min-width: 1240px) {
  section h2 {
    font-size: 3vw;
  }
}
section h3 {
  font-size: 6vw;
  font-weight: bold;
}
@media screen and (min-width: 1240px) {
  section h3 {
    font-size: 1.5vw;
  }
}
section p {
  font-size: 4vw;
  padding: 20px 0;
}
@media screen and (min-width: 1240px) {
  section p {
    font-size: 0.7vw;
  }
}

.container {
  padding: 10px;
}
@media screen and (min-width: 800px) {
  .container {
    width: 760px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    width: 1160px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
  .row {
    flex-direction: row;
  }
}

.col {
  width: 100%;
  padding: 20px;
}
@media screen and (min-width: 800px) {
  .col-md50 {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 800px) {
  .col-md33 {
    flex: 0 0 33.3%;
  }
}
@media screen and (min-width: 800px) {
  .col-md25 {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 1240px) {
  .col-ld50 {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1240px) {
  .col-ld33 {
    flex: 0 0 33.3%;
  }
}
@media screen and (min-width: 1240px) {
  .col-ld25 {
    flex: 0 0 25%;
  }
}

.menu-box {
  font-size: 25px;
  box-shadow: 0 0 10px grey;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in;
  text-align: center;
}
.menu-box:hover {
  transition: 0.3s ease-in;
  box-shadow: 0 0 30px gray;
}

.picture {
  height: 160px;
  background-image: url("../assets/img/bg_header.webp");
  object-fit: cover;
  background-position: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.text {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, textarea, label {
  width: 100%;
  display: block;
  margin-bottom: 1vw;
  font-family: inherit;
}

section {
  min-height: 100vh;
}
section:nth-of-type(even) {
  background-color: whitesmoke;
}

label {
  font-size: 0.8vw;
}

input, textarea {
  padding: 6px;
  border-radius: 16px;
  border: 1px solid black;
  font-size: 1vw;
}
input:focus, textarea:focus {
  border: 1px solid grey;
  outline: 0;
}

input[type=submit], textarea[type=submit] {
  margin-top: 2vw;
}

textarea {
  resize: none;
}

footer {
  background-color: #0d0d0d;
  color: white;
}

/*# sourceMappingURL=style.css.map */
