@use 'variables.scss' as *;
@use 'mixins.scss' as v;
footer{
    background-color: $color-bg-footer;
    color: white;
    font-size: 6vw;
    text-align: center;
    @include v.ld{
        font-size: 1vw;
    }
}