@mixin md{
    @media screen and (min-width: 800px) {
        @content;
    }
}
@mixin ld{
    
    @media screen and (min-width: 1240px) {
        @content;
    }
}
//tworzenie tzw. Parametrów
@mixin box-square($size, $border-color){
    width: $size;
    height: $size;
    border: 1px solid $border-color;
    margin: 10px;
}
// .test{
//     @include box-square(300px, red);
// }
// .test2{
//     @include box-square(400px, blue)
// }
